@use '../../utils' as *;
/*----------------------------------------*/
/*   3.1 Header Style
/*----------------------------------------*/

.header-transparent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
}
.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 55;
}
.tp-header{
    &-ptb{
        @media #{$lg,$md,$xs}{
            padding: 10px 0;
        }
    }
    &-border{
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    &-menu{
        & > nav{
            & > ul{
                & > li{
                    margin: 0 20px;
                    list-style-type: none;
                    display: inline-block;
                    @media #{$xl}{
                        margin: 0 15px;
                    }
                    & > a{
                        padding: 35px 0;
                        font-weight: 500;
                        font-size: 17px;
                        display: inline-block;
                        letter-spacing: -0.01em;
                        color: var(--tp-common-white);
                    }
                }
            }
        }
    }
    &-lang{
        & a{
            font-weight: 400;
            font-size: 16px;
            line-height: 1;
            display: inline-block;
            color: rgba(255, 255, 255, 0.6);
            &.active{
                color: var(--tp-common-white);
            }
            &:not(:first-child){
                margin-left: 10px;
            }
            &:hover{
                color: var(--tp-common-white);
            }
        }
    }
    &-box{  
        @media #{$x3l,$xxl}{
            padding-right: 30px;
        }
        @media #{$xl}{
            padding-right: 0px;
        }
    }
    &-logo{
        & img {
            max-width: inherit;
        }
        @media #{$x3l}{
            padding-left: 30px;
        }
        @media #{$xl}{
            padding-right: 25px;
        }
        @media #{$lg,$md,$xs}{
            padding: 10px 0;
        }
    }
    &-right{
        & .cr-header-login{
            & a{
                font-size: 15px;
                line-height: 1;
                font-weight: 600;
                border-radius: 40px;
                display: inline-block;
                padding: 11px 20px 12px;
                letter-spacing: -0.15px;
                color: var(--tp-common-white);
                border: 1px solid rgba(255, 255, 255, 0.06);
                background: rgba(255, 255, 255, 0.06);
                backdrop-filter: blur(10px);
                &:hover{
                    color: var(--tp-common-black-7);
                    background-color: var(--tp-common-white);
                }
            }
        }
    }
    &-bar{
        & button{
            width: 30px;
            color: var(--tp-common-white);
            & i{
                &:nth-child(2){
                    width: 24px;
                }
                height: 2px;
                width: 14px;
                display: block;
                margin-left: 0;
                background-color: var(--tp-common-white);
                &:not(:last-of-type){
                    margin: 6px auto;
                }
            }
            &:hover{
                & i {
                    animation: bar_anim 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
                }
            }
        }
    }
}

.tp-header-13{
    &-ptb{
        @media #{$lg,$md,$xs}{
            padding: 10px 0;
        }
    }
    &-menu {
        & > nav {
            & > ul {
                margin-left: 270px;
                @media #{$x3l} {
                    margin-left: 100px;
                }
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    margin-left: 0;
                }
                & > li {
                    margin: 0 20px;
                }
            }
        }
    }
}

/* Active Menu Overrides - CHỈ GIỮ MỘT SELECTOR DUY NHẤT */
/* ===========================================
   FIXED ACTIVE MENU STYLES - SỬA SELECTOR
   =========================================== */

/* Cách 1: Dựa trên cấu trúc thực tế từ NavMenus */
.tp-header-13-menu .main-menu > li.active > a {
  color: #ff0000 !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  
  /* Hiệu ứng đẹp hơn: thêm background nhẹ */
  background-color: rgba(255, 0, 0, 0.08) !important;
  border-radius: 6px !important;
  padding: 10px 15px !important;
  transition: all 0.3s ease !important;
}

/* Thêm để đảm bảo không có underline nào */
.tp-header-13-menu > nav > ul > li.active > a,
.tp-header-menu > nav > ul > li.active > a,
.main-menu > li.active > a {
 color: #ff0000 !important;
  font-weight: 700 !important;
  text-decoration: none !important;
  
  &::after,
  &::before {
    display: none !important;
    content: none !important;
    background: none !important;
    height: 0 !important;
    width: 0 !important;
  }
}

/* Active state cho submenu */
.tp-submenu li.active > a {
  color: #ff0000 !important; /* Màu đỏ */
  background-color: rgba(255, 0, 0, 0.1) !important; /* Background đỏ nhạt */
  font-weight: 500 !important;
}

/* Nếu cần override cho dropdown-white-bg */
.dropdown-white-bg .tp-submenu li.active > a {
  color: #ff0000 !important;
  background-color: rgba(255, 0, 0, 0.1) !important;
}
.tp-header-inner {
    &-style {
        & .tp-header-menu > nav > ul {
            padding: 0 10px;
            border-radius: 30px;
            display: inline-block;
            background-color: rgb(246, 246, 249);
        }
        & .tp-header-menu > nav > ul > li > a {
            padding: 10px 0;
            color: var(--tp-common-black);
        }
        & .tp-header-dropdown nav ul li.has-dropdown::after {
            color: var(--tp-common-black);
        }
        & .tp-header-dropdown nav ul li .tp-submenu {
            top: 110%;
        }
        & .tp-header-14-bar-wrap .tp-header-8-bar {
            border: 0;
            background-color: rgb(246, 246, 249);
            & span {
                color: var(--tp-common-black);
            }
            &:hover{
                background-color: var(--tp-common-black);
                & span{
                    color: var(--tp-common-white);
                }
            }
        }
        &.header-inner-white{
            & .tp-header-menu{
                & > nav{
                    & > ul{
                        background-color: #1D1D1F;
                        & > li{
                            & > a{
                                color: #BFBFC0;
                            }
                            &:hover{
                                & > a{
                                    color: var(--tp-common-white);
                                }
                            }
                        }
                    }
                }
            }
            & .tp-header-dropdown {
                & > nav{
                    & > ul{
                        & > li{
                            &.has-dropdown::after {
                               color: #BFBFC0;
                            } 
                            &:hover{
                                &.has-dropdown::after {
                                    color: var(--tp-common-white);
                                }  
                            }
                        }
                    }
                }
            }
            & .tp-header-14-bar-wrap .tp-header-8-bar {
                background-color: #1D1D1F;
                & span {
                    color: var(--tp-common-white);
                }
                &:hover{
                    background-color: var(--tp-common-white);
                    & span {
                        color: var(--tp-common-black);
                    }
                }
            }
        }
        & .tp-megamenu-wrapper {
            top: 110%;
        }
    }
}

.tp-header-shop{
    &-wrap{
        position: relative;
        border: 1px solid rgba(77, 61, 48, 0.2);
        &.shop-white-header{
            border: 1px solid rgba(255, 255, 255, 0.20);
            & .tp-header-shop{
                &-menu {
                    & > nav {
                        & > ul {
                            & > li {
                                & > a{
                                    color: var(--tp-common-white);
                                    border-color: rgba(255, 255, 255, 0.20);
                                }
                            }
                        }
                    }
                }
                &-action{
                    & ul{
                        & li{
                            border-color: rgba(255, 255, 255, 0.20);
                        }
                    }
                }
                &-cart{
                    & button{
                        color: var(--tp-common-white);
                        & span{
                            color: #4D3D30;
                            background-color: var(--tp-common-white);
                        }
                    }
                }
                &-lang{
                    & button,
                    & span{
                        color: var(--tp-common-white);
                    }
                }
                &-search{
                    & button{
                        color: var(--tp-common-white);
                    }
                }
            }
            & .logo-2 {
                display: none;
            }
            & .tp-header-10-offcanvas .tp-header-bar button i {
                background-color: var(--tp-common-white);
            }
        }
        & .tp-header-dropdown nav ul li.has-dropdown::after {
            display: none;
        }
        & .tp-megamenu-wrapper {
            max-width: 100%;
            border-radius:0 0 14px 14px;
            &.megamenu-white-bg {
                background: rgba(244, 240, 234, 0.8);
                border: 1px solid rgba(77, 61, 48, 0.12);
            }
        }
        &.header-sticky {
            top: 10px;
            width: calc(100% - 30px);
            margin: 0 auto;
            &.sticky-white-bg {
                background: rgba(244, 240, 234, 0.9);
            }
            &.shop-white-header {
                border: 1px solid rgba(77, 61, 48, 0.2);
                & .tp-header-shop-menu{
                    &  > nav {
                        & > ul {
                            & > li {
                                & > a {
                                    color:#4d3d30;
                                    border-color: rgba(77, 61, 48, 0.2);
                                }
                            }
                        }
                    }
                }
                & .tp-header-shop-action ul li {
                    border-color: rgba(77, 61, 48, 0.2);
                }
                & .tp-header-shop-search button {
                    color:#4d3d30;
                }
                & .tp-header-shop-cart button {
                    color:#4d3d30;
                    & span{
                        background-color: #4D3D30;
                        color: var(--tp-common-white);
                    }
                }
                & .tp-header-shop-lang span {
                    color:#4d3d30;
                }
                & .tp-header-shop-logo{
                    & .logo-1 {
                        display: none;
                    }
                    & .logo-2 {
                        display: inline-block !important;
                    }
                }
                & .tp-header-10-offcanvas .tp-header-bar button i {
                    background-color: #4d3d30;
                }
            }
        }
        & .dropdown-white-bg nav ul li .tp-submenu {
            border-radius:0 0 14px 14px;
            background: rgba(244, 240, 234, 0.8);
            border: 1px solid rgba(77, 61, 48, 0.12);
        }
    }
    &-menu{
        & > nav{
            & > ul{
                display: flex;
                & > li{
                    list-style: none;
                    display: inline-block;
                    & > a{
                        height: 100%;
                        padding: 18px 30px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1;
                        color: #4d3d30;
                        letter-spacing: -0.01em;
                        display: inline-block;
                        text-transform: uppercase;
                        border-right: 1px solid rgba(77, 61, 48, 0.2);
                    }
                }
            }
        }
    }
    &-action{
        & > ul{
             display: flex;
            & > li{
                position: relative;
                padding: 12px 30px;
                list-style-type: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-left: 1px solid rgba(77, 61, 48, 0.2);
            }
        }
    }
    &-cart,
    &-lang{
        & a,
        & button,
        & span{
            font-weight: 500;
            font-size: 14px;
            line-height: 1;
            color: #4d3d30;
            letter-spacing: -0.01em;
            text-transform: uppercase;
        }
    }
    &-cart{
        & button{
            & span{
                position: absolute;
                top: 0;
                right: 0;
                padding: 3px 6px 4px;
                font-weight: 600;
                font-size: 14px;
                line-height: 1;
                text-align: center;
                display: inline-block;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                color: var(--tp-common-white);
                background-color: #4d3d30;
                border: 1px solid rgba(77, 61, 48, 0.2);
            }
        }
    }
    &-logo{
        @media #{$lg,$md,$xs}{
            margin-left: 20px;
        }
    }
}

.header-lang-submenu {
    position: absolute;
    top: 110%;
    right: 0px;
    width: 120px;
    z-index: 9;
    opacity: 0;
    padding: 15px 20px;
    visibility: hidden;
    background: #4D3D30;
    @include tp-transition();
    box-shadow: 0 30px 70px 6px rgba(11, 6, 70, 0.08);
    & li{
        list-style: none;
        & a{
            font-size: 13px;
            text-transform: capitalize;
            color: var(--tp-common-white);
        }
    }
    &.open{
        top: 100%;
        opacity: 1;
        visibility: visible;
    }
}

.tp-header-14-yellow-bg{
    & .tp-header-8-bar {
        &:hover{
            color: var(--tp-common-white);
            border-color: var(--tp-common-black);
            background-color: var(--tp-common-black);
        }
    }
}